* {
  box-sizing: border-box;
}

#additionalInfo table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

#additionalInfo table tr {
  height: 70px;
}

#additionalInfo table th {
  width: 150px;
  color: rgb(34, 34, 34);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(249, 249, 249);
  vertical-align: middle;
}

#additionalInfo table td {
  vertical-align: middle;
}

#additionalInfo .bTJwPT {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1028px;
  padding: 12px 20px;
  position: relative;
}

#additionalInfo .dZzEqg {
  padding: 0px 16px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 46px;
}
#additionalInfo .ipuDqc {
  width: 30px;
  margin-left: 8px;
  color: rgb(34, 34, 34);
  font-size: 15px;
  line-height: 46px;
  text-align: center;
}
#additionalInfo .iCkZFs {
  display: block;
  position: relative;
  cursor: pointer;
}
#additionalInfo .iCkZFs > input[type="radio"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
#additionalInfo .iCkZFs > input[type="radio"]:checked + p {
  color: rgb(255, 255, 255);
  border-color: rgb(50, 108, 249);
  background-color: rgb(50, 108, 249);
}
#additionalInfo .iCkZFs > p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 82px;
  height: 46px;
  padding: 0px 15px;
  color: rgb(102, 102, 102);
  font-size: 14px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  user-select: none;
}
#additionalInfo .iCkZFs > p:hover {
  background-color: rgb(231, 231, 231);
  border-color: rgb(231, 231, 231);
}
#additionalInfo .iCkZFs + label {
  margin-left: 10px;
}
#additionalInfo table tr + tr {
  border-top: 1px solid rgb(238, 238, 238);
}
#additionalInfo .dZzEqg:disabled {
  color: rgb(174, 174, 174);
  border-color: rgb(231, 231, 231);
  background-color: rgb(250, 250, 250);
}
#additionalInfo .iajGQB {
  display: none;
  width: 230px;
  padding: 15px;
  text-align: left;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 5px 0px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 20px;
  left: 0px;
  z-index: 1;
}
#additionalInfo .ezRKI:hover > div {
  display: block;
}
#additionalInfo .ezRKI {
  display: inline-block;
  height: 18px;
  margin-left: 2px;
  position: relative;
  top: 3px;
}
#additionalInfo .eXAGyI {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
#additionalInfo .kkuWgy > input[type="checkbox"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
#additionalInfo .eXAGyI > input[type="checkbox"] {
  position: absolute;
  right: 0px;
  top: 0px;
  appearance: none;
  visibility: hidden;
}
#additionalInfo .kkuWgy > p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 82px;
  height: 46px;
  padding: 0px 15px;
  color: rgb(102, 102, 102);
  font-size: 14px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  user-select: none;
}
#additionalInfo .eXAGyI + label {
  margin-left: 10px;
}
#additionalInfo .kkuWgy > input[type="checkbox"]:checked + p {
  color: rgb(255, 255, 255);
  border-color: rgb(50, 108, 249);
  background-color: rgb(50, 108, 249);
}
#additionalInfo .kkuWgy > p:hover {
  background-color: rgb(231, 231, 231);
  border-color: rgb(231, 231, 231);
}
#additionalInfo .bTJwPTT .eXAGyI {
  margin: 5px 10px 5px 0px;
}
#additionalInfo .eXAGyI > p {
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  user-select: none;
}
#additionalInfo .eXAGyI > p:hover {
  border-color: rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}
#additionalInfo .eXAGyI > input[type="checkbox"]:checked + p {
  color: rgb(255, 255, 255);
  border-color: rgb(82, 177, 205);
  background-color: rgb(82, 177, 205);
}
#additionalInfo menu,
#additionalInfo ol,
#additionalInfo ul {
  list-style: none;
}

#additionalInfo select,
#additionalInfo input,
#additionalInfo textarea,
#additionalInfo a {
  outline: none;
}

#additionalInfo input,
#additionalInfo textarea {
  user-select: text;
}

#additionalInfo textarea,
#additionalInfo input {
  appearance: none;
}
