* {
  box-sizing: border-box;
}

#basicInfo table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

#basicInfo table tr {
  height: 70px;
}

#basicInfo table th {
  min-width: 150px;
  color: rgb(34, 34, 34);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(249, 249, 249);
  vertical-align: middle;
}

#basicInfo table td {
  vertical-align: middle;
}

#basicInfo .nIpBu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  position: relative;
}

#basicInfo .nIpBu > p{
  height: 46px;
  margin-left: 10px;
  color: rgb(102, 102, 102);
  line-height: 46px;
}

#basicInfo .boOTqL {
  margin-right: 10px;
  font-size: 15px;
  color: rgb(34, 34, 34);
  line-height: 46px;
}
#basicInfo .bSHhTa {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#basicInfo .jkqspU {
  padding: 0px 16px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 46px;
}
#basicInfo .kBhohh {
  width: 30px;
  color: rgb(34, 34, 34);
  font-size: 15px;
  line-height: 46px;
  text-align: center;
}
#basicInfo .gwaqis {
  height: 46px;
  padding: 0px 8px 0px 10px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  box-sizing: border-box;
  background: url(https://www.dabangapp.com/static/media/select_arrow.95d6586e.svg)
    right 8px center / 10px 6px no-repeat rgb(255, 255, 255);
  outline: none;
  appearance: none;
  width: 170px;
}
#basicInfo .czmmBl {
  width: 90px;
  height: 46px;
  padding: 0px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(26, 90, 232);
  background-color: rgb(26, 90, 232);
  cursor: pointer;
}
#calendarModal {
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calendarModal > div {
  width: 480px;
  background-color: #fff;
}
#calendarModal > #btn_cont {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 480px;
  height: 54px;
}
#calendarModal > #btn_cont > button {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 0px;
  height: 100%;
  font-size: 15px;
  border: 0px;
  color: rgb(50, 108, 249);
  font-weight: 700;
  background-color: rgb(239, 245, 255);
  cursor: pointer;
}
#basicInfo table tr + tr {
  border-top: 1px solid rgb(238, 238, 238);
}
#basicInfo menu,
#basicInfo ol,
#basicInfo ul {
  list-style: none;
}

#basicInfo select,
#basicInfo input,
#basicInfo textarea,
#basicInfo a {
  outline: none;
}

#basicInfo input,
#basicInfo textarea {
  user-select: text;
}

#basicInfo textarea,
#basicInfo input {
  appearance: none;
}
