* {
  box-sizing: border-box;
}

#detailInfo table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

#detailInfo table tr {
  height: 70px;
}

#detailInfo table th {
  min-width: 150px;
  color: rgb(34, 34, 34);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(249, 249, 249);
  vertical-align: middle;
}

#detailInfo table td {
  vertical-align: middle;
}

#detailInfo .gUYVyr {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  position: relative;
}

#detailInfo .dFOPJc {
  padding: 0px 16px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 46px;
}
#detailInfo .knSOrZ {
  padding: 12px 16px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  resize: none;
  width: 100%;
  height: 230px;
}

#detailInfo menu,
#detailInfo ol,
#detailInfo ul {
  list-style: none;
}

#detailInfo select,
#detailInfo input,
#detailInfo textarea,
#detailInfo a {
  outline: none;
}

#detailInfo input,
#detailInfo textarea {
  user-select: text;
}

#detailInfo textarea,
#detailInfo input {
  appearance: none;
}
